.userInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-lg);
  padding: 16px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  p {
    margin: 0;
    font-weight: normal;
    color: #555;
    font-size: 1.7em;
  }
}
